.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-top: .5rem;
}

.sidebar{
   display: flex;
   flex-direction: column;
   width: 240px;
   height: 95vh;
   background-color: #333333;
}

.sidebar .areaFoto{
   align-items: center;
   background-color: inherit;
   border-bottom: 1px solid #e9e9e90a;
   display: flex;
   justify-content: center;
   padding: 3rem 1rem;
   width: 100%;
}

.sidebar .areaFoto .foto_user{
   height: 80px;
   width : 80px;
   border-radius: 50%;
   object-fit: cover;
}

.sidebar .nav{   
   width: 100%;
}

.sidebar .nav ul {
   width: 100%;   
   list-style: none;
   margin: 0;
   padding: 0;
}

.sidebar .nav ul li .nav-link{
   background-color: transparent;
   color: #ffffff;
   display: block;
   font-size: 1.2rem;
   padding: 1.5rem 0;
   text-align: center;
   text-decoration: none;
   transition: all .5s;
}

.sidebar .nav ul li .nav-link:hover,
.sidebar .nav ul li .nav-link.active {
   background-color: #cfcfda2c;
   font-weight: 600;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 95vh;
}

