.admin{
   display: flex;
   background-color: rgb(54, 170, 0);
   justify-content: space-between;
   width: 100%;
   margin-top: 3rem;
}

.foto_user{
   border-radius: 50%;
   height: 60px;
   object-fit: cover;
   width: 60px;
}

.sidebar{
   background-color: #333333;
   height: calc(100vh - 6rem);   
   padding: 1rem 0;
   width: 15%;
}

.sidebar ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.sidebar ul li a{
   background-color: transparent;
   color: #ffffff;
   display: block;
   font-size: 1.2rem;
   padding: 1.5rem 0;
   text-align: center;
   text-decoration: none;
   transition: all .5s;
   width: 100%;   
}

.sidebar ul li a:hover{
   background-color: #b3b3b3;
   color: #000000;
   font-weight: 600;
}

.sidebar .areaFoto{
   align-items: center;
   background-color: inherit;
   border-bottom: 1px solid #e9e9e91c;
   display: flex;
   justify-content: center;
   padding: 0 0 1rem 0;
   width: 100%;
}

.content{
   flex: 1;
   padding: 1rem;
   width: 75%;
   background-color: #f1f1f1
}
