.areaDados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txtHistorico{
    text-align: justify;
}

.txtId{
    text-align: center;
}

.botao{
  min-width: 7.5rem;
}
