.ListTarefas {
  display: flex;
  height: 100vh;
}

.search:focus,
.search:focus-visible,
.search.form-control:focus,
.search.form-control:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ced4da !important;
}

.lista-mobile {
  max-height: calc(100vh - 220px);
  overflow-y: auto;
}

/* Scroll mais elegante */
.lista-mobile::-webkit-scrollbar {
  width: 6px;
}

.lista-mobile::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}