*{
  max-width: 1580px;
  margin: 0 auto;
  padding: 0; 
}

body, html,  #root{
  font-family: Arial, Helvetica, sans-serif;   
  height: 100%;
  overflow: hidden; /* 🚫 body não rola */
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}
